<{% extends 'base.html' %}>
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>History</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'history.css' %}" />
</head>
<body>
  {{data}}
  <table>
    <tr>
      <th>user</th>
      <th>Operator1</th>
      <th>Operator</th>
      <th>Operator2</th>
      <th>Result</th>
    </tr>
    {% for calculation in calc %}
      <tr>
        <td>{{ calculation.user }}</td>
        <td>{{ calculation.operand1 }}</td>
        <td>{{ calculation.operator }}</td>
        <td>{{ calculation.operand2 }}</td>
        <td>{{ calculation.result }}</td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>